/***************** base************************/
body { background:#fff; text-align:center; padding:0; margin:0;  font-family: "Microsoft YaHei";}
.hide { display: none; }
.red { color:#B41515; }
.c { clear: both;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c:after{content:'';display:block;clear:both}
.fl { float:left}
.fr { float: right;}
ul,li { list-style: none; margin:0; padding: 0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c:after{content:'';display:block;clear:both}


/***********************header*************************/

.header {
	min-height: 50px;
	background: #3AA8FF;
	color: #fff;
}
.header a {
	color: #fff;
}

.header-left {
    width: 60px;
    margin-left: 30px;
}
.header-left a {
    line-height: 50px;
}

.header-right {
    line-height: 50px;
    padding-right: 20px;
}
.header-right  img {
    float: left;
    margin-top: 5px;
    margin-left: 30px;
}
.quit {
    display: inline-block;
    padding: 0 15px;
}
 

 
/************************************/


.card-edit-top {
    text-align: center;
}

.card-left {
    position: fixed;
    left:0;
    top:50px;
    background: #333;
    border-right:1px solid #ccc;
    height: 100%;
    width: 220px;
    padding: 0 10px 0 20px;
    min-height: 600px;
}
.card-right {
    position: fixed;
    right:0;
    top:50px;
    background: #fff;
    border-left:1px solid #ccc;
    height: 100%;
    width: 320px;
    min-height: 600px;
    padding: 20px;
}
.card-right .tab {
    height: 40px;
}
.card-right .tab a {
    display: inline-block;
    width:24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background: #aaa;
    border-radius: 20px;

}
/*card-left */


.title {
    height: 32px;
}

/*风格选择 */
#stylebox { width: 100%; text-align: center; }
.card-left .hd {
    color: #888;
    text-align: center;
    padding: 10px 0;
}
#stylebox a { text-decoration:none; }

#stylebox a { display: inline-block; width:20px; border:1px solid #fff; height: 20px; background: #333; margin:2px; }
#stylebox ul { padding: 0; margin:10px 0;  text-indent: 0; }
#stylebox ul li { float: left; list-style-type: none; padding: 0; margin: 0; width:28px; height: 24px;  text-indent: 0; margin: 0 2px 2px 0; cursor:pointer; }
#stylebox ul li:hover {-moz-box-shadow:2px 2px 3px #000 inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:2px 2px 3px #000 inset;            /* For Chrome5+, Safari5+ */
    box-shadow:2px 2px 3px #000 inset;                    /* For Latest Opera */} 
#stylebox ul li a.userupload { background: #fff; line-height: 16px; font-size: 14px; }


/* 字体  */

#Fontbox { position:fixed; right:0; top:0; height:100%; width:180px; padding:0 10px; background:#fff ; }
#Fontbox h4 { font-size: 12px; background: #eee;}
#family a { display: block; width:32px; height: 32px; border-radius:4px; border:1px solid #ddd;
 background:#fff url(../images/font.svg) no-repeat;  text-indent: -6000px;margin-bottom: 2px; 
 float:left; margin-right: 4px;cursor: pointer;}
#family a:hover { border:1px  solid #aaa;}
#family a#ft01 { background-position:-6px -6px;}
#family a#ft02 { background-position:-52px -6px;}
#family a#ft03 { background-position:-97px -6px;}
#family a#ft04 { background-position:-143px -6px;}
#family a#ft05 { background-position:-188px -6px;}
#family a#ft06 { background-position:-6px -51px;}
#family a#ft07 { background-position:-52px -51px;}
#family a#ft08 { background-position:-97px -51px;}
#family a#ft09 { background-position:-143px -51px;}
#family a#ft10 { background-position:-188px -51px;}

#family a#ft11 { background-position:-6px -94px;}
#family a#ft12 { background-position:-52px -94px;}
#family a#ft13 { background-position:-97px -94px;}
#family a#ft14 { background-position:-143px -94px;}
#family a#ft15 { background-position:-188px -94px;}
#family a#ft16 { background-position:-6px  -138px;}
#family a#ft17 { background-position:-52px -138px;}
#family a#ft18 { background-position:-97px -138px;}
#family a#ft19 { background-position:-143px -138px;}
#family a#ft20 { background-position:-188px -138px;}

#family a#ft21 { background-position:-6px -182px;}
#family a#ft22 { background-position:-52px -182px;}
#family a#ft23 { background-position:-97px -182px;}
#family a#ft24 { background-position:-143px -182px;}
#family a#ft25 { background-position:-188px -182px;}
#family a#ft26 { background-position:-6px -224px;}
#family a#ft27 { background-position:-52px -224px;}
#family a#ft28 { background-position:-97px -224px;}
#family a#ft29 { background-position:-143px -224px;}
#family a#ft30 { background-position:-188px -224px;}

#family a#ft31 { background-position:-6px -268px;}
#family a#ft32 { background-position:-52px -268px;}
#family a#ft33 { background-position:-97px -268px;}
#family a#ft34 { background-position:-143px -268px;}
#family a#ft35 { background-position:-188px -268px;}
#family a#ft36 { background-position:-6px  -314px;}
#family a#ft37 { background-position:-52px -314px;}
#family a#ft38 { background-position:-97px  -314px;}
#family a#ft39 { background-position:-143px -314px;}
#family a#ft40 { background-position:-188px -314px;}

#family a#ft41 { background-position:-6px  -356px;}
#family a#ft42 { background-position:-52px -356px;}
#family a#ft43 { background-position:-97px -356px;}
#family a#ft44 { background-position:-143px -356px;}
#family a#ft45 { background-position:-188px -356px;}


/* font-size */

#fontsize  { text-align: left; }
#fontsize span {display: inline-block; width: 16px;  font-size: 12px;
 height:22px;border-radius:4px;  text-align: center; height: 28px;  
 line-height: 24px; cursor: pointer;  overflow: hidden; background: #aaa;}
#fontsize span:hover { cursor: pointer; background: #f60; color:#fff; }
#fontsize span.smaller { width: 25px;}
#fontsize span.bigger {width: 25px;}


.fontcolor button { width:20px; height:20px; border-radius: 4px; border:1px solid #ddd; background:#fff url(../font/colorm.jpg) no-repeat;  margin:1px; font-size: 12px; text-indent: -6000px;}
.fontcolor button:hover {border:1px  solid #aaa; cursor: pointer;   
    -moz-box-shadow:2px 2px 3px #000 inset;               /* For Firefox3.6+ */
    -webkit-box-shadow:2px 2px 3px #000 inset;            /* For Chrome5+, Safari5+ */
    box-shadow:2px 2px 3px #000 inset;                    /* For Latest Opera */
}


.fontcolor button#clr01 {background-position:0 0; }
.fontcolor button#clr02 {background-position:0 -30px; }
.fontcolor button#clr03 {background-position:0 -60px; }
.fontcolor button#clr04 {background-position:0 -90px; }
.fontcolor button#clr05 {background-position:0 -120px; }
.fontcolor button#clr06 {background-position:0 -150px; }
.fontcolor button#clr07 {background-position:0 -180px; }
.fontcolor button#clr08 {background-position:0 -210px; }
.fontcolor button#clr09 {background-position:0 -240px; }
.fontcolor button#clr10 {background-position:0 -270px; }
.fontcolor button#clr11 {background-position:0 -300px; }
.fontcolor button#clr12 {background-position:0 -330px; }
.fontcolor button#clr13 {background-position:0 -360px; }
.fontcolor button#clr14 {background-position:0 -390px; }
.fontcolor button#clr15 {background-position:0 -420px; }
.fontcolor button#clr16 {background-position:0 -450px; }
.fontcolor button#clr17 {background-position:0 -480px; }
.fontcolor button#clr18 {background-position:0 -510px; }
.fontcolor button#clr19 {background-position:0 -540px; }
.fontcolor button#clr20 {background-position:0 -570px; }
.fontcolor button#clr21 {background-position:0 -600px; }
.fontcolor button#clr22 {background-position:0 -630px; }
.fontcolor button#clr23 {background-position:-60px -0px; }
.fontcolor button#clr24 {background-position:-60px -30px; }
.fontcolor button#clr25 {background-position:-60px -60px; }
.fontcolor button#clr26 {background-position:-60px -90px; }
.fontcolor button#clr27 {background-position:-60px -120px; }
.fontcolor button#clr28 {background-position:-60px -150px; }



/* font-color */

#fcolors { text-align: left;}
#fcolors button { width: 26px; height: 24px; border:0;}
#fcolors span { display:inline-block; width:32px; margin: 0; height:24px; border:1px solid #333; border-radius: 3px; cursor: pointer;}
#fcolors span:hover{ border:1px solid #ddd;}


.sclist { margin-left: 10px; width: 180px;}
.sclist li { width: 56px; height: 56px; margin:4px 2px; background: #5F6774; float: left; position: relative; }
.sclist li img { width:100%;}
.sclist li button { position: absolute; top:0; left:0; width: 56px; height: 56px; background:none; border:0;  }



/********card-right*********/


.userlist a { 
    cursor: pointer; 
    font-size: 16px; 
    padding: 3px 18px; 
    display: inline-block; 
    border-radius: 3px; 
    height: auto;
    background: #fff; border:1px solid #bbb; margin-bottom: 10px;
}


/******************* main*************************/

.weimoban {position: absolute; min-height: 12px;}
.drsMoveHandle { cursor: move; background: none;}
.drsMoveHandle:hover { display:block; opacity:0.2; background: #000; }
.draw .drsMoveHandle { height:20px; }


/* moban */
.dragresize {position: absolute;width: 8px;height: 8px;font-size: 1px;background: #EEE;border: 1px solid #333;}
.dragresize {position: absolute; }
.dragresize-tl {top: -8px;left: -8px;cursor: nw-resize;}
.dragresize-tm {top: -8px;left: 50%;margin-left: -4px;cursor: n-resize;}
.dragresize-tr {top: -8px;right: -8px;cursor: ne-resize;}
.dragresize-ml {top: 50%;margin-top: -4px;left: -8px;cursor: w-resize;}
.dragresize-mr {top: 50%;margin-top: -4px;right: -8px;cursor: e-resize;}
.dragresize-bl {bottom: -8px;left: -8px;cursor: sw-resize;}
.dragresize-bm {bottom: -8px;left: 50%;margin-left: -4px;cursor: s-resize;}
.dragresize-br {bottom: -8px;right: -8px;cursor: se-resize;}


/***********  main   *********/


#picbox {position: relative;  
    height:600px;
    width:800px; 
    margin:10px auto;
    overflow: hidden;
    -webkit-font-smoothing:antialiased.
}
#picbox .txt { 
    z-index: 1100;
}
 
#jietu {
    width:840px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 20px; 
    box-shadow: 0 0 10px #ddd;
}

 

/* 弹窗 */

.eddr { }
.eddr #titbox { height:50px; background: #2B333C; width: 100%;  border-bottom: 1px solid #ddd; margin-bottom: 30px; }
.eddr #titbox h4 { width:400px; float: left; line-height: 50px; color: #fff; margin: 0; text-align: left; text-indent: 1em;  }
.eddr #titbox a { display: block; width: 48px; font-size: 12px; line-height: 22px; background: #fff; float: right;
 margin-top: 13px;margin-right: 15px; height: 24px;    border-radius: 3px; color: #f60; text-decoration: none; }
.eddr #titbox a:hover { background: #ccc; }

.eddr ul { width:96%; margin:15px 2%; padding:0; }
.eddr ul li { width: 18%; min-height: 190px; border:1px solid #ddd; box-shadow: 0 0 3px #888; cursor: pointer;
    margin:0 1% 10px 1%; text-align: center; padding: 5px;  float: left; list-style: none; border-radius:4px; }
.eddr ul li p { width:90%; margin-left: 5%; font-size: 12px; display: block; min-height: 40px; }
.eddr ul li input.app { line-height: 20px; height: 26px; cursor: pointer;}

.eddr ul li#addewm { background: #3BA354; color: #fff; padding-top: 10px; }
.eddr ul li#addewm a { color: #fff; text-decoration: none; }

.eddr ul li:hover { box-shadow:0 0 6px #666;}

.edtab { }
.edtab #titbox { height:50px; background: #2B333C; width: 100%;  border-bottom: 1px solid #ddd; margin-bottom: 30px; }
.edtab #titbox h4 { width:400px; float: left; line-height: 50px; color: #fff; margin: 0; text-align: left; text-indent: 1em;  }
.edtab #titbox a { display: block; width: 48px; font-size: 12px; line-height: 22px; background: #fff; float: right;
 margin-top: 13px;margin-right: 15px; height: 24px;    border-radius: 3px; color: #f60; text-decoration: none; }
.edtab #titbox a:hover { background: #ccc; }

.edtab ul { width:96%; margin:15px 2%; padding:0; }
.edtab ul li { width: 98%; min-height: 36px; border-bottom:1px solid #ddd; line-height: 24px; margin-bottom: 10px ;list-style: none; text-align: left; font-size: 14px; }
.edtab ul li input.app { line-height: 20px; height: 26px; cursor: pointer; float: right;  cursor: pointer; }

.edtab ul li#addbtn { background: #3BA354; color: #fff; text-align: center; padding: 0;  margin: 0; margin-bottom: 20px;border-radius:4px;}
.edtab ul li#addbtn a { color: #fff; text-decoration: none; line-height: 30px; font-size: 16px; padding: 0; margin: 0;  }


.del { 
width: 26px;
height: 20px;
position: absolute;
top:-30px;
right: 10px;
z-index: 1200;
display: none; 
cursor: pointer;

}
.del img {
    width:20px;
    height: 20px;
    background: #fff;
    border-radius: 3px;
}


/* 图片弹窗 */

.piceddr { }
.piceddr #titbox { height:50px; background: #2B333C; width: 100%;  border-bottom: 1px solid #ddd; margin-bottom: 0px; }
.piceddr #titbox h4 { width:400px; float: left; line-height: 50px; color: #fff; margin: 0; text-align: left; text-indent: 1em;  }
.piceddr #titbox a { display: block; width: 48px; font-size: 12px; line-height: 22px; background: #fff; float: right;
 margin-top: 13px;margin-right: 15px; height: 24px;    border-radius: 3px; color: #f60; text-decoration: none; }
.piceddr #titbox a:hover { background: #ccc; }

.piceddr ul { width:96%; margin:10px 2%; padding:0; }
.piceddr ul li { width: 18%; min-height:120px;  box-shadow: 0 0 2px #888; 
    margin:0 1% 15px 1%; text-align: center; padding: 5px; float: left; list-style: none; border-radius: 3px; }
.piceddr ul li:hover { box-shadow:0 0 6px #666;}
.piceddr ul li .pic { height: 90px; overflow: hidden;}
.piceddr ul li .pic img { max-height: 90px; max-width: 120px;} 
.piceddr ul li p { width:90%; margin-left: 5%; font-size: 12px;  display: block; min-height: 40px; }
.piceddr ul li input.app { line-height: 20px; height: 26px; margin-top: 10px; cursor: pointer;}
.piceddr ul li .upbox input[type='submit'] { height: 26px; line-height: 26px;}
 

/* moban */
.dragresize {position: absolute;width: 8px;height: 8px;font-size: 1px;background: #EEE;border: 1px solid #333;}
.dragresize {position: absolute; }
.dragresize-tl {top: -8px;left: -8px;cursor: nw-resize;}
.dragresize-tm {top: -8px;left: 50%;margin-left: -4px;cursor: n-resize;}
.dragresize-tr {top: -8px;right: -8px;cursor: ne-resize;}
.dragresize-ml {top: 50%;margin-top: -4px;left: -8px;cursor: w-resize;}
.dragresize-mr {top: 50%;margin-top: -4px;right: -8px;cursor: e-resize;}
.dragresize-bl {bottom: -8px;left: -8px;cursor: sw-resize;}
.dragresize-bm {bottom: -8px;left: 50%;margin-left: -4px;cursor: s-resize;}
.dragresize-br {bottom: -8px;right: -8px;cursor: se-resize;}

 
@media (max-width: 1600px) {
.m-wrap { width:820px; position: absolute; left:440px; top:5px; text-align: center;  }
}


@media (max-width: 1440px) {
.m-wrap { width:820px; position: absolute; left:370px; top:5px; text-align: center;  }
}


@media (max-width: 1024px) {

}